.qmake.stash
*.log
moc_*
*.o
*.tlog
x64/Release/vccorlib140.dll
*.dll
*.exe
*.obj
*.lib
*.pdb
*.msi
*.cab
*.exp
*.exp
*.ilk
*.exp
*.recipe
api/x64/Debug/qmake/temp/props.txt
*.wixpdb
*.msi
*.wixpdb
*.wixpdb
*.idx
*.recipe
*.ipch
.vs/*
