<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="MSInstaller" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="307e79e8-68d9-4d3d-8490-02be0df854c1">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
